@model IEnumerable<HospitalManagementSystem.Models.Models.PatientModel>
@{
    Layout = null;
}
@if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var patient in Model)
            {
                <tr>
                    <td>@patient.Id</td>
                    <td>@patient.FirstName</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No patients available.</p>
}
