@model HospitalManagementSystem.Models.UIModels.ForgotPasswordUIModel

<div class="modal-dialog" role="document" id="mdlForgotPassword">
    <div class="modal-content">
        <div class="modal-header" style="color: #31708f; background-color: #d9edf7; border-color: #bce8f1;">
            <h5 class="modal-title" id="forgotPasswordLabel">Forgot Password</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="line-height:0">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="modal-body">
            <form asp-action="CheckUserByEmailOrPhoneNumber" asp-controller="Account" id="forgotPasswordForm" method="post" data-ajax="true"
                  data-ajax-method="POST" data-ajax-update="#mdlForgotPassword"
                  data-ajax-success="onSuccess">

                @if (!Model.Status && !String.IsNullOrEmpty(Model.Message))
                {
                    <div class="alert alert-danger" id="forgotPasswordMessage">
                        @Model.Message
                    </div>
                }
                else if (Model.Status && !string.IsNullOrEmpty(Model.Message))
                {
                    <div class="alert alert-success" id="forgotPasswordMessage">
                        @Model.Message
                    </div>
                }

                <div class="form-group">
                    <label for="emailPhoneNumber">Please enter your email address or mobile number:</label>
                    <input asp-for="EmailPhoneNumber" type="text" name="emailPhoneNumber" class="form-control" id="emailPhoneNumber" placeholder="Email or phone number" />
                </div>

                @if (Model.Status && !string.IsNullOrEmpty(Model.Message) && Model.Message.Contains("exists"))
                {
                    <div class="form-group">
                        <label for="newPassword">Enter your new password:</label>
                        <input asp-for="NewPassword" type="password" name="newPassword" class="form-control" id="newPassword" placeholder="New password" />
                    </div>

                    <div class="form-group">
                        <label for="confirmPassword">Confirm your new password:</label>
                        <input asp-for="ConfirmPassword" type="password" name="confirmPassword" class="form-control" id="confirmPassword" placeholder="Confirm password" />
                    </div>
                }

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="button" class="btn btn-secondary" id="cancelButton" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">

    function onSuccess(formData) {
        console.log(formData);
    }

    function resetFormAndClearMessages() {
        $("#forgotPasswordForm")[0].reset();
        $("#forgotPasswordMessage").text("").hide('alert-info alert-danger alert-success');
    }

    $("#mdlForgotPassword .close").on("click", function () {
        resetFormAndClearMessages();
    });

    $("#cancelButton").on("click", function () {
        resetFormAndClearMessages();
    });
</script>
